:root {
  color-scheme: blue;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1600cd;
    font-family: "din-2014" ;
  font-weight: 700;
  font-style: normal;
  font-family: "din-2014", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
   place-items: center;
}

main {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 10px;

}

.html {
  color: #000;
}
.mainpicture {

  width: 100%;
}

.h1 {
  text-align: center;
  margin: 20px;
  padding: 5px;
  font-family: "din-2014" ;
  font-weight: 700;
  font-style: normal;
}

.devtitle {
  text-align: left;
}

@media (min-width: 758px) {
  .mainpicture {
  width: 40%;
  text-align: center;
  display: flex;
}
}