:root {
  color-scheme: blue;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1600cd;
  font-style: normal;
  font-family: "din-2014", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
   display: flex;
  align-items: center;           /* 縦方向中央揃え */
  padding: 0 20px;               /* 横に余白 */
  justify-content: flex-start;
  gap: 40px;
  height: 60px;
}


.h1 {
  font-family: "din-2014" ;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.hamburger_botton {
  height: 20px;
  margin: 10px;
}

main {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 10px;
}

.mainpicture {
  width: 100%;
}


h2 {
  text-align: left;
  font-size: 30pt;
  display: flex;
  margin: 20px;
font-family: "yu-gothic-pr6n", sans-serif;
font-style: normal;
letter-spacing: 0.2em;

}
.gradationline {
  height: 10px;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background:linear-gradient(
    to right,
    #3700FF,
    #feb47b
  )
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: flex;
   justify-content: center;
   align-items: center;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;

}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}


@media (min-width: 758px) {
  .mainpicture {
  width: 40%;
  text-align: center;
  display: flex;
}

header {
   display: flex;
  align-items: center;           /* 縦方向中央揃え */
  padding: 0 20px;               /* 横に余白 */
  justify-content: space-around;
  height: 70px;
  font-size: 15px;
}

.h2 {
display: flex;
}

.h1 {
  font-family: "din-2014" ;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.hamburger_botton {
  display: none;
}



}

